# No environment variables are required for the current simple auth prototype.
deepgramtts=12b0361f36c42e2463725d72a3e793858c46d212
gemini llm api key=AIzaSyAHU-1ffNgXJGeMOmSoEm2btOeho7t8hHA
background sound API key=1b15ea2fca074c548bf8bcf102916f92